@model FlightSim.Website.Models.ExperimentModel
@{
    ViewBag.Title = "Flight Sim";
}

<script type="text/javascript" src="~/Scripts/flightSim.js"></script>
<style type="text/css">
    body
    {
        background-color: @Model.Experiment.Configuration.BackgroundColour;
    }

    .circle 
    {
        background-color: @Model.Experiment.Configuration.TargetColour;
        border-color: @Model.Experiment.Configuration.TargetColour;
    }
</style>
<div id="experiment">   
    @{
        string radiuses = string.Join(",", Model.Experiment.RoundedRadiuses.ToArray());
        <input id="Experiment_Radiuses" type="hidden" value="@radiuses" />
    }    
    @{
        string opacities = string.Join(",", Model.Experiment.TargetOpacities.ToArray());
        <input id="Experiment_Opacities" type="hidden" value="@opacities" />
    }

    @Html.HiddenFor(m => m.Experiment.Configuration.InitialTargetSize, new { id = "initialTargetSize" })

    @using (Html.BeginForm("Save", "Experiment", FormMethod.Post, new { id = "experimentResults" }))
    {
        @Html.HiddenFor(m => m.Experiment.Id)
        @Html.HiddenFor(m => m.Experiment.StartTime)
        @Html.HiddenFor(m => m.Experiment.EndTime)
        @Html.HiddenFor(m => m.Experiment.XPosition)
        @Html.HiddenFor(m => m.Experiment.YPosition)
    }
    <div id="template" hidden="hidden" class="circle"></div>
</div>
