@model FlightSim.Website.Models.ExperimentModel
@{
    ViewBag.Title = "Flight Sim";
}

<script type="text/javascript" src="~/Scripts/flightSim.js"></script>

<div id="experiment">
    @Html.HiddenFor(m => m.Experiment.TargetRadiuses)
    @Html.HiddenFor(m => m.Experiment.TargetOpacities)
    @Html.HiddenFor(m => m.Experiment.XPosition)
    @Html.HiddenFor(m => m.Experiment.YPosition)

    <form id="experimentResults" action="/Experiment/Save" method="post">
        @Html.HiddenFor(m => m.Experiment.ReactionTime)
    </form>
    <div id="template" hidden="hidden" class="circle"></div>
    <input id="timeLog" type="hidden" value="" />
    <input id="radiusLog" type="hidden" value=""/>
    <input id="opacityLog" type="hidden" value=""/>
</div>
